.full-box{
	border:4px solid #ccc;
	max-width:1170px;
	width:60%;
	margin:50px auto auto auto;
}

.header{
	border-bottom:2px solid #ccc;
}

.footer{
	border-top:2px solid #ccc;
	padding:10px 0;
}

.header h2{
	color:#0183c4;
	margin:10px 0;
	text-transform:uppercase;
	font-weight:bold;
}

.content{
    height:400px;
	overflow-y:scroll;
	overflow-x:hidden;
	position:relative;
}

.spancounter{
	padding: 10px;
	margin: 5px;
}

.quesrow .row{
	margin: 5px;
}

.right-button {
    position: absolute;
    right: 25px;
    top: -40px;
    background: #fff;
    padding: 4px 10px;
}

.right-button a{
	font-size:18px;
	text-transform:uppercase;
}